@model ProductViewModel
@{
    ViewData["Title"] = "AddOrEdit Product";
}

<div class="container">
    <div class="row mt-2">
        <div class="col-10">
            <div class="p-3">
                <div asp-validation-summary="All" class="text-danger"></div>

@*                Don't forget to add attribute - enctype = "multipart/form-data" whenever you're uploading any image to the server'
*@               
                <form method="post" asp-action="Upsert" enctype="multipart/form-data">                      
                    <input type="hidden" asp-for="Product.Id" />
                    <input type="hidden" asp-for="Product.ImageUrl" />
                    <div class="mt-1 ps-0 p-3">
                        <h2 class="text-primary">AddOrEdit Product</h2>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-12">
                            <label class="form-label" asp-for="Product.Title"></label>
                            <input class="form-control" asp-for="Product.Title" />
                            <span class="text-danger" asp-validation-for="Product.Title"></span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-12">
                            <label class="form-label" asp-for="Product.Description"></label>
                            <textarea asp-for="Product.Description" class="form-control" rows="3"></textarea>
                            <span class="text-danger" asp-validation-for="Product.Description"></span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-12 col-sm-6">
                             <label class="form-label" asp-for="Product.ISBN"></label>
                            <input class="form-control" asp-for="Product.ISBN" />
                            <span class="text-danger" asp-validation-for="Product.ISBN"></span>
                        </div>
                        <div class="col-12 col-sm-6">
                            <label class="form-label" asp-for="Product.Author"></label>
                            <input class="form-control" asp-for="Product.Author" />
                            <span class="text-danger" asp-validation-for="Product.Author"></span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-12 col-sm-6">
                            <label class="form-label" asp-for="Product.Price"></label>
                            <input class="form-control" asp-for="Product.Price" />
                            <span class="text-danger" asp-validation-for="Product.Price"></span>
                        </div>
                        <div class="col-12 col-sm-6">
                            <label class="form-label" asp-for="Product.Price50"></label>
                            <input class="form-control" asp-for="Product.Price50" />
                            <span class="text-danger" asp-validation-for="Product.Price50"></span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-12 col-sm-6">
                            <label class="form-label" asp-for="Product.Price100"></label>
                            <input class="form-control" asp-for="Product.Price100" />
                            <span class="text-danger" asp-validation-for="Product.Price100"></span>
                        </div>
                        <div class="col-12 col-sm-6">
                            <label class="form-label" asp-for="Product.Price100"></label>
                            <input class="form-control" disabled asp-for="Product.Price100" />
                            <span class="text-danger" asp-validation-for="Product.Price100"></span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-12">
                            <label class="form-label" asp-for="Product.ImageUrl"></label>
                            <input type="file" name="image" id="file" class="form-control"  />
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-12 col-sm-6">
                            <label class="form-label" asp-for="Product.CategoryId"></label>
                            <select class="form-select" asp-for="Product.CategoryId" asp-items="@Model.CategoryList">
                                <option selected disabled> --Category Types-- </option>
                            </select>
                        </div>
                        <div class="col-12 col-sm-6">
                            <label class="form-label" asp-for="Product.CoverTypeId"></label>
                            <select class="form-select" asp-for="Product.CoverTypeId" asp-items="@Model.CoverTypeList">
                                <option class="" selected disabled> --Cover Types-- </option>
                            </select>
                        </div>
                    </div>
                    <div>
                        @if (Model.Product.Id != 0)
                        {
                            <button type="submit" class="btn btn-primary mt-3 me-2">Edit Product</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-primary mt-3 me-2" onclick="return validateImage()">Add Product</button>
                        }

                        <a asp-action="Index"><button type="button" class="btn btn-secondary mt-3">Go Back</button></a>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-2 pt-3">
            @if (Model.Product.Id != 0){
                <img src="@("/"+ Model.Product.ImageUrl.Replace('\\','/'))" width="100%" style="border-radius: 5px;" alt="Product Image" />
            }
        </div>
    </div>
    
</div>


@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
    <script>
        function validateImage() {
            if (document.getElementById("file").value == "") {
                swal("Image Required", "Please upload an Image!", "error");
                return false;
            }
            return true;
        }
    </script>

    <script>
        tinymce.init({
          selector: 'textarea',
          plugins: 'a11ychecker advcode casechange export formatpainter image editimage linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tableofcontents tinycomments tinymcespellchecker',
          toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter image editimage pageembed permanentpen table tableofcontents',
          toolbar_mode: 'floating',
          tinycomments_mode: 'embedded',
          tinycomments_author: 'Author name',
        });
    </script>

}